# 8.1 下載資料

In [1]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv

--2019-12-10 11:38:40--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/sp500.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.128.133, 151.101.192.133, 151.101.0.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.128.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 83629 (82K) [text/plain]
Saving to: 'sp500.csv.2'

     0K .......... .......... .......... .......... .......... 61%  167K 0s
    50K .......... .......... .......... .                    100% 12.3M=0.3s

2019-12-10 11:38:41 (271 KB/s) - 'sp500.csv.2' saved [83629/83629]

--2019-12-10 11:38:42--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/omh.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.128.133, 151.101.192.133, 151.101.0.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.128.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 539 [text/plain]
Saving to: 'omh.csv.2'

     0K                                                       100% 2.23M=0s

2019-12-10 11:38:42 (2.23 MB/s) - 'omh.csv.2' saved [539/539]

In [2]:
# -*- coding: utf-8 -*-
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set formattign options
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 7)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 60)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# read in the data and print the first five rows
# use the Symbol column as the index, and 
# only read in columns in positions 0, 2, 3, 7
sp500 = pd.read_csv("sp500.csv", 
                    index_col='Symbol', 
                    usecols=[0, 2, 3, 7])

# one month of stock history data
omh = pd.read_csv("omh.csv")

In [3]:
sp500

                        Sector   Price  Book Value
Symbol
MMM                Industrials  141.14      26.668
ABT                Health Care   39.60      15.573
ABBV               Health Care   53.95       2.954
ACN     Information Technology   79.79       8.326
ACE                 Financials  102.91      86.897
...                        ...     ...         ...
YHOO    Information Technology   35.02      12.768
YUM     Consumer Discretionary   74.77       5.147
ZMH                Health Care  101.84      37.181
ZION                Financials   28.43      30.191
ZTS                Health Care   30.53       2.150

[500 rows x 3 columns]

In [4]:
omh

          Date   MSFT    AAPL
0   2014-12-01  48.62  115.07
1   2014-12-02  48.46  114.63
2   2014-12-03  48.08  115.93
3   2014-12-04  48.84  115.49
4   2014-12-05  48.42  115.00
..         ...    ...     ...
17  2014-12-24  48.14  112.01
18  2014-12-26  47.88  113.99
19  2014-12-29  47.45  113.91
20  2014-12-30  47.02  112.52
21  2014-12-31  46.45  110.38

[22 rows x 3 columns]

# 8.2 對pandas物件執行算術運算

## DataFrame or Series的簡單運算

In [5]:
# set the seed to allow replicatable results
np.random.seed(123456)
# create the DataFrame
df = pd.DataFrame(np.random.randn(5, 4), 
                  columns=['A', 'B', 'C', 'D'])
df

          A         B         C         D
0  0.469112 -0.282863 -1.509059 -1.135632
1  1.212112 -0.173215  0.119209 -1.044236
2 -0.861849 -2.104569 -0.494929  1.071804
3  0.721555 -0.706771 -1.039575  0.271860
4 -0.424972  0.567020  0.276232 -1.087401

In [6]:
df * 2

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  2.424224 -0.346429  0.238417 -2.088472
2 -1.723698 -4.209138 -0.989859  2.143608
3  1.443110 -1.413542 -2.079150  0.543720
4 -0.849945  1.134041  0.552464 -2.174801

In [7]:
s = df.iloc[0]
s

A    0.469112
B   -0.282863
C   -1.509059
D   -1.135632
Name: 0, dtype: float64

In [8]:
diff = df - s
diff

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1  0.743000  0.109649  1.628267  0.091396
2 -1.330961 -1.821706  1.014129  2.207436
3  0.252443 -0.423908  0.469484  1.407492
4 -0.894085  0.849884  1.785291  0.048232

In [9]:
diff2 = s - df
diff2

          A         B         C         D
0  0.000000  0.000000  0.000000  0.000000
1 -0.743000 -0.109649 -1.628267 -0.091396
2  1.330961  1.821706 -1.014129 -2.207436
3 -0.252443  0.423908 -0.469484 -1.407492
4  0.894085 -0.849884 -1.785291 -0.048232

In [10]:
s2 = s[1:3]
s2

B   -0.282863
C   -1.509059
Name: 0, dtype: float64

In [11]:
s2['E'] = 0
s2

B   -0.282863
C   -1.509059
E    0.000000
Name: 0, dtype: float64

In [12]:
df + s2

    A         B         C   D   E
0 NaN -0.565727 -3.018117 NaN NaN
1 NaN -0.456078 -1.389850 NaN NaN
2 NaN -2.387433 -2.003988 NaN NaN
3 NaN -0.989634 -2.548633 NaN NaN
4 NaN  0.284157 -1.232826 NaN NaN

In [13]:
df + s

          A         B         C         D
0  0.938225 -0.565727 -3.018117 -2.271265
1  1.681224 -0.456078 -1.389850 -2.179868
2 -0.392737 -2.387433 -2.003988 -0.063829
3  1.190667 -0.989634 -2.548633 -0.863772
4  0.044140  0.284157 -1.232826 -2.223033

In [14]:
subframe = df[1:4][['B','D']]
subframe

          B         D
1 -0.173215 -1.044236
2 -2.104569  1.071804
3 -0.706771  0.271860

In [15]:
subframe - df

    A    B   C    D
0 NaN  NaN NaN  NaN
1 NaN  0.0 NaN  0.0
2 NaN  0.0 NaN  0.0
3 NaN  0.0 NaN  0.0
4 NaN  NaN NaN  NaN

In [16]:
a_col = df['A']
df.sub(a_col, axis=0)

     A         B         C         D
0  0.0 -0.751976 -1.978171 -1.604745
1  0.0 -1.385327 -1.092903 -2.256348
2  0.0 -1.242720  0.366920  1.933653
3  0.0 -1.428326 -1.761130 -0.449695
4  0.0  0.991993  0.701204 -0.662428

In [17]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
# number of occurrences of each unique value
s.count()

4

In [18]:
s.unique()

array(['a', 'b', 'c', nan], dtype=object)

In [19]:
s.nunique()

3

In [20]:
s.nunique(dropna=False)

4

In [21]:
s.value_counts(dropna=False)

a      2
b      1
c      1
NaN    1
dtype: int64

In [22]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].min()

MSFT     45.16
AAPL    106.75
dtype: float64

In [23]:
# and location of the max
omh[['MSFT', 'AAPL']].max()

MSFT     48.84
AAPL    115.93
dtype: float64

In [24]:
# location of min price for both stocks
omh[['MSFT', 'AAPL']].idxmin()

MSFT    11
AAPL    11
dtype: int64

In [25]:
# and location of the max
omh[['MSFT', 'AAPL']].idxmax()

MSFT    3
AAPL    2
dtype: int64

In [26]:
# get the 4 smallest values
omh.nsmallest(4, ['MSFT'])['MSFT']

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

In [27]:
# get the 4 largest values
omh.nlargest(4, ['MSFT'])['MSFT']

3     48.84
0     48.62
1     48.46
16    48.45
Name: MSFT, dtype: float64

In [28]:
# nsmallest on a Series
omh.MSFT.nsmallest(4)

11    45.16
12    45.74
21    46.45
10    46.67
Name: MSFT, dtype: float64

In [29]:
# calculate a cumulative product
pd.Series([1, 2, 3, 4]).cumprod()

0     1
1     2
2     6
3    24
dtype: int64

In [30]:
# calculate a cumulative sum
pd.Series([1, 2, 3, 4]).cumsum()

0     1
1     3
2     6
3    10
dtype: int64

# 8.3 Descriptive Statistics

In [31]:
omh.describe()

            MSFT        AAPL
count  22.000000   22.000000
mean   47.493182  112.411364
std     0.933077    2.388772
min    45.160000  106.750000
25%    46.967500  111.660000
50%    47.625000  112.530000
75%    48.125000  114.087500
max    48.840000  115.930000

In [32]:
omh.MSFT.describe()

count    22.000000
mean     47.493182
std       0.933077
min      45.160000
25%      46.967500
50%      47.625000
75%      48.125000
max      48.840000
Name: MSFT, dtype: float64

In [33]:
omh.MSFT.describe()['mean']

47.49318181818182

In [34]:
s = pd.Series(['a', 'a', 'b', 'c', np.NaN])
s.describe()

count     4
unique    3
top       a
freq      2
dtype: object

In [35]:
omh.mean()

MSFT     47.493182
AAPL    112.411364
dtype: float64

In [36]:
omh.mean(axis=1)[:5]

0    81.845
1    81.545
2    82.005
3    82.165
4    81.710
dtype: float64

In [37]:
omh.median()

MSFT     47.625
AAPL    112.530
dtype: float64

In [38]:
s = pd.Series([1, 2, 3, 3, 5, 1])
s.mode()

0    1
1    3
dtype: int64

In [39]:
print("Var: %s" % omh.var())
print("Std: %s" % omh.std())

Var: MSFT    0.870632
AAPL    5.706231
dtype: float64
Std: MSFT    0.933077
AAPL    2.388772
dtype: float64

In [40]:
# covariance of MSFT vs AAPL
omh.MSFT.cov(omh.AAPL)

1.9261240259740264

# Homework

In [41]:
hw = pd.read_csv('homework.csv')
hw

    A   B
0  60  60
1  59  54
2  61  66
3  62  71
4  58  49
5  60  60

In [42]:
hw.describe()

               A          B
count   6.000000   6.000000
mean   60.000000  60.000000
std     1.414214   7.924645
min    58.000000  49.000000
25%    59.250000  55.500000
50%    60.000000  60.000000
75%    60.750000  64.500000
max    62.000000  71.000000